<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, class: "label-rotten" %>
    <%= form.text_field :title, class: "field-rotten" %>
  </div>

  <div>
    <%= form.label :rating, class: "label-rotten" %>
    <%= form.text_field :rating, class: "field-rotten" %>
  </div>

  <div>
    <%= form.label :description, class: "label-rotten" %>
    <%= form.text_field :description, class: "field-rotten" %>
  </div>

  <div>
    <%= form.label :release_date, class: "label-rotten" %>
    <%= form.text_field :release_date, class: "field-rotten" %>
  </div>

  <br>

  <div style="margin: 0 auto; text-align: center;">
    <%= form.submit "Create a new movie", class: "button-rotten" %>
</div>

<% end %>
